/* Popup style */
.popup-window {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color:hwb(208 94% 0%);
  
  }
  .tag{
    margin-right: 20%;
    margin-left: 0;
  }

  .input-label{
    display:flex;
    width:100%
  }
  .input-tag {
    margin-left: 5%;
    margin-right: 10px;
    flex-basis: 40%; /* Set fixed width for label column */
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label > span {
    margin-right: 10px;
    width: 100px; /* set a fixed width for the label text */
  }
  
 
  .popup-header{
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    margin-top: 2%;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    
  }

  .popup-tag{
    display: flex;
    margin-top: 1%;
  }

  #exit{
    position: fixed;
    left: 80%;
    top:6%
  }
  .select-menu{
    border: solid black;
    position: relative;
    border-radius: 10px;
  }
  #type{
    width: 100%;
    margin-top: 0.2%;
    margin-left: 50%;
  }

  #selector{
    width: 60%;
    border-radius: 10px;
    border-color: #4a5880;
  }

  /* #course-tag{
    right:9%;
  } */
  .window {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 70%;
    max-height: 70vh;
    margin-top: 2%;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
.buttoncontainer{
  position: fixed;
  top: 80%;
  left: 70%;
}

.maincontainer .add{
  position: fixed;
  width: 100%;

}
.input-box{
  height: 5vh;
  width: 30vh;
}
h1 {
  align-self: baseline;
  margin-left: 9%;
}
.add-user{
  position: relative;
  padding: 1%;
}
.add-button{
  position: relative;
  left: 70%;
  width: 15%;
}
.uploadmessage h1{
  position: fixed;
  left: 35%;
}
