.maincontainer{
    width:85%;
    margin-left: 15%;
    height:100vh;
    background-color: hwb(207 91% 0%);
    overflow: auto;
    justify-content: center;
    align-items: center;
}
.instructorstatus{
    position: relative;
    background-color: lightcoral;
    border-radius: 16px;
    width: 35%;
    height: 20%;
    left: 10%;
    top: 10%

}

.gradestatus{
    position: absolute;
    background-color: lightsalmon;
    border-radius: 16px;
    width: 35%;
    height: 60%;
    left: 55%;

}