.statspage{
    width:85%;
    left: 15%;
    height:100vh;
    position: absolute;
    background-color: hwb(207 91% 0%);
    justify-content: center;
    align-items: center;
}
.statspage .maincontainer{
    position: absolute;
    height: 80%;
    width: 70%;
    top:10%;
    background-color: white;
    border-radius: 16px;
    padding: 1vh;
    box-shadow: 3px 6px 8px -6px black;

}
.instructorstatus{
    position: relative;
    background-color: white;
    border-radius: 16px;
    width: 40%;
    height: 40%;
    left: 10%;
    top: 3%;
    overflow-y:auto;
    box-sizing: border-box;
    border-color: whitesmoke;
    border-style: solid;
    padding: 2vh;
    box-shadow: 3px 6px 8px -6px black;

}
.studentstatus{
    position: relative;
    background-color: white;
    border-radius: 16px;
    width: 40%;
    height: 40%;
    left: 10%;
    top: 12%;
    overflow-y:auto;
    border-color: whitesmoke;
    border-style: solid;
    padding: 2vh;
    box-shadow: 3px 6px 8px -6px black;

}
.gradestatus{
    position:absolute;
    background-color: white;
    border-radius: 16px;
    width: 30%;
    height: 60%;
    top:25%;
    left: 60%;
    border-color: whitesmoke;
    border-style: solid;
    padding: 2vh;
    box-shadow: 3px 6px 8px -6px black;

}
.statlist{
    width:90%;
    left: 10%;
    height: fit-content;
    position: relative;
}
.statlist ul{
    position: relative;
    width: 90%;
}
.gradingprogress{
    height: 90%;
    position: relative;
    width: 90%;
    left: 5%;
}

.cef{
    position: relative;
    top: 10%;
}
.overall{
    position: relative;
    top:10%;
}
.statspage h2{
    color: black;
}
.statspage h3{
    font-size: 3.5vh;
    position: relative;
    text-align: center;
}
