.page{
    position: absolute;
    background-color: hwb(207 91% 0%);
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 100vh;
    width: 85%;
    left: 15%;
}
.page .section{
    width:40%;
    left: 55%;
    height:75vh;
    background-color: white;
    position: relative;
    padding:1%;
    top: 15%;
    border-radius: 16px;
    padding:2%;


}
